<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <link rel="shortcut icon" href="/assets/favico/favicon.ico" type="image/x-icon">
  <title>Rocketflix</title>
</head>

<body>
  <div id="main">
    <div id="Cabecalho">
      <img id="Setas"
      src="./assets/favico/logo.svg" alt="icon" 
      />
      <h2 id="Titulo">Não sabe o que assistir?</h2>
    </div>
      <div id="botao" onclick="findmove()">
        <button>
          <img src="./assets/favico/logo.svg"
          />
          Encontrar filme
        </button>
        <span></span>
      </div>
</div>
  <script type="module" src="main.js"></script>
</body>

</html>