*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
    --button: url(./assets/favico/logo.svg);
    --surface: rgba(255,255,255,0.8);
  }
body{
    background: var(--background) no-repeat top center/cover;
    height: 100vh;
}

#main{
    width: 100%;
    max-width: 588px;
    margin: 126px auto 0;
    padding: 0 24px;
}

#Cabecalho{
    position: relative;
    width: 100%;
    width: 533px;
    margin: 30px auto;
    flex-shrink: 0;
    display: block;
    text-align: center;
    
}
#Titulo{
    
    color: var(--title);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#movie #titulo{
    font-size: 20px;
    margin-bottom: 19px;
    font-weight: 700;
}
#movie {
    margin-bottom: 30px;
    color: var(--title);
    list-style: none;
}

#botao{
    position: relative;
    width: 180.984px;
    margin: 4px auto;
}
#botao img{
    position: absolute;
    width: 35.565px;
    height: 25.29px;
    right: 72%;
    top: 25%;
}
button p{
    color: black;
    font-size: 12px;
    font-weight: 700;
    width: 180.983px;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 23px;
}
 button{
    width: 180.983px;
    height: 47px;
    border: 2px solid #1a1a1a;
    border-radius: 5px;
    display: inline;
    background: white;

    
}
button:hover{
    background: var(--surface);
    border: 1.5px solid var(--title);
    transition: background 0.2s
}

#text{
    width: 381px;
    height: 42px;
    color: var(--title);
    padding: 26px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}